@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Ibarra+Real+Nova:ital,wght@1,500&family=Josefin+Sans:wght@200;400&family=Kanit:wght@200;500&family=Montserrat:ital,wght@0,500;1,400;1,500;1,600&family=Noto+Sans:wght@700&family=Nunito:wght@700&family=Oswald:wght@300;500;700&family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Ibarra+Real+Nova:ital,wght@1,500&family=Josefin+Sans:wght@200;400&family=Kanit:wght@200;500&family=Montserrat:ital,wght@0,500;1,400;1,500;1,600&family=Noto+Sans:wght@700&family=Nunito:wght@700&family=Oswald:wght@300;500;700&family=Roboto&family=Work+Sans:wght@500&display=swap');

body,html{
    outline: 0;
    margin: 0;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   

}




.main-div{
   
     height: 700px;
  
}


nav{ 
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    margin-left: 50px;
    margin-top: 20px;
   
}

.nav-items{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
   
}

.nav-item{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     padding: 0px 20px;
     align-items: center;
}

.signin-btn{
   
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 120px;
}



body{
    background: url(../images/backcover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;   
    background-position: 320px;
   
}   

img[src="./images/intro-img.svg"]{
    position: relative;
    left: 190px;
    height: 650px;
    width: 750px;
    top: -200px;
       
}


.left-section{
    position: relative;
    top: 50px;
    width: 790px;
    height: 600px;
}

.imgs-div{
    display: flex;
     position: absolute;
     margin-left: 150px;
     margin-top: -400px;
    height: 100px;
   
}


img[src="./images/vector.svg"]{
    position: relative;
    left: 400px;
}

img[ src="./images/vector-dot.svg"]{
      position: relative;
    left: 400px;
}

.left-section h1{
     margin-left: 50px;
     font-size: 65px;
 
    font-family: "Kanit";
      
}

.left-section h4{
   
   
     width: 400px;
     margin-left: 50px;
     font-size: 14px;
       font-style: italic;
}


.learn-more-btn{
    height: 50px;
    width: 200px;
    border: 0px;
    font-size: 22px;
    font-weight: 400px;
    font-family: "Roboto";
    color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 50px;
    background: linear-gradient(90deg, #9F2BC1 0% , #E1A2B8 100%);
}


.signin-btn{
     height: 50px;
    width: 120px;
    border: 0px;
    font-size: 22px;
    font-weight: 400px;
    font-family: "Roboto";
    color: aliceblue;
    border-radius: 20px;
     background: linear-gradient(90deg, #9F2BC1 0% , #E1A2B8 100%);
}
